@font-face {
  font-family: 'Open Sans';
  src: url('fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.woff2') format('woff2'),
    url('fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth,wght.woff') format('woff');
  font-family: 'Acme';
  src: url('fonts/Acme/Acme-Regular.woff') format('woff');
}

body {
  background-color: black;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.AcmeFont {
  font-family: 'Acme', sans-serif;
  /* Use the custom font family */
}

.italic {
  font-family: 'Open Sans Italic', sans-serif;
}

i {
  font-size: 2rem;
}

/* Reset default margin and padding for all elements */
body,
figure,
h1,
h2,
p,
ul,
li,
address,
a {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  /* Set a default font size and line height */
  font-size: 1em;
  line-height: 1.5;
  height: 100vh;
}

/* Set max-width for the page content */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 9%;
}

/* Style the About Me section */
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  margin-bottom: 25%;
  /* transform: translate(0,-3%); */
}

.profile-picture-caption {
  transform: translate(9px, -36px);
  color: black
}

.about-heading {
  text-align: center;
}

.about-description {
  text-align: center;
}

.about-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  margin-top: 3%;
}

.about-icons li {
  text-decoration: none;
  color: inherit;
}

.devicon-github-original-wordmark {
  color: white;
  /* Set the color to white */
}

/* Style the My Work section */
#my-work {
  margin-bottom: 9%;
  text-align: center;
}

#my-work h1 {
  margin-bottom: 3%;
}

#projects{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  grid-column-gap:2em;
  justify-items: center;
  align-items: center;
  justify-content: space-evenly;
  align-content: space-evenly;
  margin-bottom: 10%;
}

.project-card {
  width: fit-content;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  border: solid white 1px;
  box-shadow: 0 5px 10px grey;
}

.project-links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4% 8%;
}

.project-card img {
  width: 100%;
  margin-bottom: 3%;
}

.project-card h2 {
  flex-basis: 100%;
  font-size: 1.2rem;
  margin-bottom: 2%;
}

.project-description {
  font-size: 1rem;
  margin-bottom: 1em;
  padding: 5%;
}

.project-links a {
  margin-right:8%;
  background-color: lightgray;
  border-width: 1%;
  color: black;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-color: transparent;
  border-radius: .375rem;
  border-width: 0.1rems;
  cursor: pointer;
  font-size: .875rem;
  padding: .25rem 0.5rem;
  text-decoration-line: none;
}

.project-links a:hover {
  color: #fff;
  background-color: darkgray;
}


/* Style the Contact section */
#contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
/* Tablet layout styles go here */

.about{
  margin-bottom: 15%;
}

/* Style the My Work section */
#projects{
  grid-template-rows: repeat(3,1fr);
  grid-template-columns: repeat(2,1fr);
}
}


@media screen and (min-width: 1200px) {
  /* Desktop layout styles go here */

  .about{
    margin-bottom: 10%;
    transform: translate(0,-10%);
  }

  #projects{
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto
  }

  #my-work{
    margin-bottom: 0;
  }
}